<div class="panel panel-default">
    <div class="panel-heading">
		<div class="container">
        Proposer une aventure
	</div>
    </div>
    <div class="panel-body">
        <div class="container">
            
            <%= form_for @adventure, html: {multipart: true} do |f| %>
			<%= render '/shared/errors' %>
             
            <div class="row">
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Type d'aventure</label>
                            <%= f.select :main_activity, [["Randonnée/Trek","Randonnée/Trek"],
							["Trail","Trail"],
                            ["Alpinisme","Alpinisme"],
                            ["Escalade","Escalade"],
                            ["Voyage à vélo","Voyage à vélo"],
							["VTT","VTT"],
                            ["Moto","Moto"],
                            ["Voile","Voile"],
                            ["Ski","Ski"],
                            ["Kayak","Kayak"],
                            ["Chiens de traîneau","Chien de traîneau"],
                            ["Voyage à cheval","Voyage à cheval"]],
							id: "main_activity", 
                            prompt: "A sélectionner...", class: "form-control" %>
                        </div>
                    </div>
                
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label> Nombre d'équipiers recherchés </label>
                            <%= f.select :number_of_teammates, [["1 équipier",1], ["2 équipiers",2],
                            ["3 équipiers", 3], ["4 équipiers",4], ["5 équipiers",5], ["6 équipiers",6]], 
                            prompt: "A sélectionner...", class: "form-control" %>
                        </div>
                    </div>
					
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Niveau de difficulté</label>
                            <%= f.select :level, [["Débutant","Débutant"],
							["Intermédiaire","Intermédiaire"],
                            ["Avancé","Avancé"],
                            ["Expert","Expert"]],
							id: "level", 
                            prompt: "A sélectionner...", class: "form-control" %>
                        </div>
                    </div> 
                     
                </div>
				
	            <div class="row">
					
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Pays</label>
                            <%= f.select :countries, [["Afghanistan","Afghanistan"],["Afrique du Sud","Afrique du Sud"],["Albanie","Albanie"],["Algérie","Algérie"],["Allemagne","Allemagne"],["Andorre","Andorre"],["Angola","Angola"],["Antigua-et-Barbuda","Antigua-et-Barbuda"],["Arabie Saoudite","Arabie Saoudite"],["Argentine","Argentine"],["Arménie","Arménie"],["Australie","Australie"],["Autriche","Autriche"],["Azerbaïdjan","Azerbaïdjan"],["Bahamas","Bahamas"],["Bahreïn","Bahreïn"],["Bangladesh","Bangladesh"],["Barbade","Barbade"],["Belgique","Belgique"],["Belize","Belize"],["Bénin","Bénin"],["Bhoutan","Bhoutan"],["Biélorussie","Biélorussie"],["Birmanie","Birmanie"],["Bolivie","Bolivie"],["Bosnie-Herzégovine","Bosnie-Herzégovine"],["Botswana","Botswana"],["Brésil","Brésil"],["Brunei","Brunei"],["Bulgarie","Bulgarie"],["Burkina Faso","Burkina Faso"],["Burundi","Burundi"],["Cambodge","Cambodge"],["Cameroun","Cameroun"],["Canada","Canada"],["Cap-Vert","Cap-Vert"],["Chili","Chili"],["Chine","Chine"],["Chypre","Chypre"],["Colombie","Colombie"],["Comores","Comores"],["Congo","Congo"],["Corée du Nord","Corée du Nord"],["Corée du Sud","Corée du Sud"],["Costa Rica","Costa Rica"],["Côte d'Ivoire","Côte d'Ivoire"],["Croatie","Croatie"],["Cuba","Cuba"],["Danemark","Danemark"],["Djibouti","Djibouti"],["Dominique","Dominique"],["Egypte","Egypte"],["Emirats Arabes Unis","Emirats Arabes Unis"],["Equateur","Equateur"],["Erythrée","Erythrée"],["Espagne","Espagne"],["Estonie","Estonie"],["Etats-Unis","Etats-Unis"],["Ethiopie","Ethiopie"],["Fidji","Fidji"],["Finlande","Finlande"],["France","France"],["Gabon","Gabon"],["Gambie","Gambie"],["Géorgie","Géorgie"],["Ghana","Ghana"],["Grèce","Grèce"],["Grenade","Grenade"],["Guatemala","Guatemala"],["Guinée","Guinée"],["Guinée équatoriale","Guinée équatoriale"],["Guinée-Bissau","Guinée-Bissau"],["Guyana","Guyana"],["Haïti","Haïti"],["Honduras","Honduras"],["Hongrie","Hongrie"],["Île Maurice","Île Maurice"],["Inde","Inde"],["Indonésie","Indonésie"],["Irak","Irak"],["Iran","Iran"],["Irlande","Irlande"],["Islande","Islande"],["Israël","Israël"],["Italie","Italie"],["Jamaïque","Jamaïque"],["Japon","Japon"],["Jordanie","Jordanie"],["Kazakhstan","Kazakhstan"],["Kenya","Kenya"],["Kirghizistan","Kirghizistan"],["Kiribati","Kiribati"],["Kosovo","Kosovo"],["Koweït","Koweït"],["Laos","Laos"],["Lesotho","Lesotho"],["Lettonie","Lettonie"],["Liban","Liban"],["Liberia","Liberia"],["Libye","Libye"],["Liechtenstein","Liechtenstein"],["Lituanie","Lituanie"],["Luxembourg","Luxembourg"],["Macédoine","Macédoine"],["Madagascar","Madagascar"],["Malaisie","Malaisie"],["Malawi","Malawi"],["Maldives","Maldives"],["Mali","Mali"],["Malte","Malte"],["Maroc","Maroc"],["Marshall","Marshall"],["Mauritanie","Mauritanie"],["Mexique","Mexique"],["Micronésie","Micronésie"],["Moldavie","Moldavie"],["Monaco","Monaco"],["Mongolie","Mongolie"],["Monténégro","Monténégro"],["Namibie","Namibie"],["Nauru","Nauru"],["Népal","Népal"],["Nicaragua","Nicaragua"],["Niger","Niger"],["Nigeria","Nigeria"],["Norvège","Norvège"],["Nouvelle-Zélande","Nouvelle-Zélande"],["Oman","Oman"],["Ouganda","Ouganda"],["Ouzbékistan","Ouzbékistan"],["Pakistan","Pakistan"],["Palaos","Palaos"],["Palestine","Palestine"],["Panama","Panama"],["Papouasie-Nouvelle-Guinée","Papouasie-Nouvelle-Guinée"],["Paraguay","Paraguay"],["Pays-Bas","Pays-Bas"],["Pérou","Pérou"],["Philippines","Philippines"],["Pologne","Pologne"],["Portugal","Portugal"],["Qatar","Qatar"],["République Centrafricaine","République Centrafricaine"],["République Démocratique du Congo","République Démocratique du Congo"],["République Dominicaine","République Dominicaine"],["République Tchèque","République Tchèque"],["Roumanie","Roumanie"],["Royaume-Uni","Royaume-Uni"],["Russie","Russie"],["Rwanda","Rwanda"],["Saint-Kitts-et-Nevis","Saint-Kitts-et-Nevis"],["Saint-Marin","Saint-Marin"],["Saint-Vincent-et-les-Grenadines","Saint-Vincent-et-les-Grenadines"],["Sainte-Lucie","Sainte-Lucie"],["Salomon","Salomon"],["Salvador","Salvador"],
							["Samoa","Samoa"],["São Tomé et Príncipe","São Tomé et Príncipe"],["Sénégal","Sénégal"],["Serbie","Serbie"],["Seychelles","Seychelles"],["Sierra Leone","Sierra Leone"],["Singapour","Singapour"],["Slovaquie","Slovaquie"],["Slovénie","Slovénie"],["Somalie","Somalie"],["Soudan","Soudan"],["Soudan du Sud","Soudan du Sud"],["Sri Lanka","Sri Lanka"],["Suède","Suède"],["Suisse","Suisse"],["Suriname","Suriname"],["Swaziland","Swaziland"],["Syrie","Syrie"],["Tadjikistan","Tadjikistan"],["Taïwan","Taïwan"],["Tanzanie","Tanzanie"],["Tchad","Tchad"],["Thaïlande","Thaïlande"],["Timor-Oriental","Timor-Oriental"],["Togo","Togo"],["Tonga","Tonga"],["Trinité-et-Tobago","Trinité-et-Tobago"],["Tunisie","Tunisie"],["Turkménistan","Turkménistan"],["Turquie","Turquie"],["Tuvalu","Tuvalu"],["Ukraine","Ukraine"],["Uruguay","Uruguay"],["Vanuatu","Vanuatu"],["Vatican","Vatican"],["Venezuela","Venezuela"],["Viêt Nam","Viêt Nam"],["Yémen","Yémen"],["Zambie","Zambie"],["Zimbabwe","Zimbabwe"]],
							id: "countries", 
                            prompt: "Pays/Pays de départ", class: "form-control" %>
                        </div>
                    </div>
					
					
	                    <div class="col-md-4">
	                        <div class="form-group">
		                        <label>Date de départ souhaitée</label>
		                        <%= f.text_field :date_of_departure, placeholder: "Date de départ", class: "form-control datepicker" %>
	                        </div>
	                    </div>
                
	                    <div class="col-md-4">
	                        <div class="form-group">
                     		   <label>Combien de jours durera l'aventure ?</label>
                   				<%= f.text_field :duration, placeholder: "Durée de l'aventure - En jours", class: "form-control" %>
	                        </div>
	                    </div>    
                     
	                </div>
				
				
                
            <div class="row">
                    <div class="form-group">
                        <label>Donnez un titre à l'aventure</label>
                        <%= f.text_field :listing_name, placeholder: "Titre de l'annonce", class: "form-control" %>
                    </div>
                </div>
                
            <div class="row">
                    <div class="form-group">
                        <label>Résumé</label>
                        <%= f.text_area :summary, rows:4, placeholder: "Décrivez l'aventure que vous proposez",
                        class: "form-control" %>
                    </div>
                </div>
                
            <div class="row">
                    <div class="form-group">
                        <label>Lieu (de départ) de l'aventure</label>
                        <%= f.text_field :address, placeholder: "Où se déroulera l'aventure ?", class: "form-control" %>
                    </div>
                </div>
                
            <div class="row">
				<div class="row">
				<div class="col-md-6">
				<label>L'aventure inclut les activités suivantes :</label>
			</div>
			<br/>
			<br/>
			<br/>
		</div>
                <div class="col-md-3">
                    <div class="form-group">
                        <%= f.check_box :is_trekking %> Randonnée/Trek
                    </div>
                    
                    <div class="form-group">
                        <%= f.check_box :is_trail %> Trail
                    </div>
                    
                    <div class="form-group">
                        <%= f.check_box :is_alpinism %> Alpinisme
                    </div>
                    
                    <div class="form-group">
                        <%= f.check_box :is_climbing %> Escalade
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="form-group">
                        <%= f.check_box :is_cycling %> Vélo
                    </div>
                    
                    <div class="form-group">
                        <%= f.check_box :is_motorbike %> Moto
                    </div>
                    
                    <div class="form-group">
                        <%= f.check_box :is_sailing %> Voile
                    </div>
                    
                    <div class="form-group">
                        <%= f.check_box :is_camping %> Bivouac/Camping
                    </div>
				</div>
				
				<div class="col-md-3">
                    <div class="form-group">
                        <%= f.check_box :is_skiing %> Ski
                    </div>
					
                    <div class="form-group">
                        <%= f.check_box :is_fishing %> Pêche
                    </div>
					
                    <div class="form-group">
                        <%= f.check_box :is_mountain_bike %> VTT
                    </div>
					
                    <div class="form-group">
                        <%= f.check_box :is_kayaking %> Kayak
                    </div>
				</div>
				
				<div class="col-md-3">
                    <div class="form-group">
                        <%= f.check_box :is_diving%> Plongée
                    </div>
					
                    <div class="form-group">
                        <%= f.check_box :is_dog_sledding%> Chien de traîneau
                    </div>
					
                    <div class="form-group">
                        <%= f.check_box :is_horse_riding%> Equitation
                    </div>
					
                    <div class="form-group">
                        <%= f.check_box :is_paragliding%> Parapente
                    </div>
				</div>
					
                    
            </div>
			
			<hr>
            
			<div class="row">
 
			       <div class="col-md-4">
 
			           <div class="form-group">
 
			                 <span class="btn btn-default btn-file">
 
			                 <i class = "fa fa-cloud-upload fa-lg"></i> Téléchargez vos photos !
 
			                 <%= file_field_tag "images[]", type: :file, multiple: true %>
 
			                 </span>
 
			           </div>
 
			       </div>
 
			 </div>
			 
			 <div id="photos"><%= render 'photos/list' %></div> 

			    
            <div class="row">
                <div class="form-group">
                    <%= f.check_box :active %> Annonce active
                </div>
            </div>
                
            <div class="actions">
                      <%= f.submit "Je valide mon annonce", class: "btn btn-warning"%>
            </div>
            <% end %>
            
        </div>
    </div>
</div>