
<div class="row">        
    
	<div class="container">	
	
	<div class="col-md-2 text-center">
	     <ul class="sidebar-list">
	          <li class="sidebar-item">
	               Organisateur de l'aventure
	          </li>
	     </ul>
	 <br>
                        <%= image_tag avatar_url(@adventure.user), class:"img-circle avatar-large" %>
                		<br>
                        <br>
                        <%= @adventure.user.fullname %>
						
						<br>
						<% if (user_signed_in?) %>
						<%= link_to "Voir le profil", @adventure.user %>
						<% else %>
						<p style="font-style:italic"><br>Vous devez être connecté pour accéder au profil et envoyer des messages.</p>
						<%end%>
	 </div>

 	<div class="col-md-7">
		
         <div class="panel panel-default">
 
             <div class="panel-heading text-center">Détails de l'aventure</div>
 
                  <div class="panel-body">
 
			            
						<div class="form-group">
			                <%= image_tag @photos[0].image.url(), class:"img-responsive center-block" if @photos.length >0 %>
			            </div>
						
						<div class="form-group">
							<div class="col-md-12">
			                <h2><%= @adventure.listing_name %></h2>
							<hr>
			            	</div>
						</div>
						
  						<div class="form-group">
								<p class="activity-feature">Activité et niveau</p>
									<p class="para-annonce"><%= @adventure.main_activity %></p>
									<p class="para-annonce">Niveau&nbsp;<%= @adventure.level %></p>
									<p class="para-annonce"><%= @adventure.number_of_teammates %>&nbsp;équipiers recherchés</p>
									
									<hr>
								
								
								<p class="activity-feature">Localisation</p>
						
									<p class="para-annonce"><i class="fas fa-globe"></i>&nbsp;<%= @adventure.countries %></p>
									<p class="para-annonce"><i class="fas fa-map-marker-alt"></i>&nbsp;<a href="#map", class="sidebar-link"><%= @adventure.address %></a></p>
									
									<hr>
							
								<p class="activity-feature">Dates</p>
				
						
										<p class="para-annonce"><i class="fas fa-calendar-alt"></i>&nbsp;<%= @adventure.date_of_departure %></p>
							
										<p class="para-annonce"><i class="fas fa-hourglass-half">&nbsp;</i><%= @adventure.duration %>&nbsp;jours</p>
								
								<hr>
								
								<p class="activity-feature">A propos</h3>
								<p class="para-annonce"><%= @adventure.summary %></p>
								
								<hr>
								
								<p class="activity-feature">Activités secondaires</p>
								<% if @adventure.is_trekking?%>
								<p class="para-annonce">Randonnée/Treks</p>
								<% end %>
								<% if @adventure.is_trail?%>
								<p class="para-annonce">Trail</p>
								<% end %>
								<% if @adventure.is_alpinism?%>
								<p class="para-annonce">Alpinisme</p>
								<% end %>
								<% if @adventure.is_climbing?%>
								<p class="para-annonce">Escalade</p>
								<% end %>
								<% if @adventure.is_cycling%>
								<p class="para-annonce">Vélo</p>
								<% end %>
								<% if @adventure.is_motorbike?%>
								<p class="para-annonce">Moto</p>
								<% end %>
								<% if @adventure.is_sailing?%>
								<p class="para-annonce">Voile</p>
								<% end %>
								<% if @adventure.is_camping?%>
								<p class="para-annonce">Bivouac</p>
								<% end %>
								<% if @adventure.is_skiing?%>
								<p class="para-annonce">Ski</p>
								<% end %>
								<% if @adventure.is_fishing?%>
								<p class="para-annonce">Pêche</p>
								<% end %>
								<% if @adventure.is_mountain_bike?%>
								<p class="para-annonce">VTT</p>
								<% end %>
								<% if @adventure.is_kayaking?%>
								<p class="para-annonce">Kayak</p>
								<% end %>
								<% if @adventure.is_diving?%>
								<p class="para-annonce">Plongée</p>
								<% end %>
								<% if @adventure.is_dog_sledding?%>
								<p class="para-annonce">Chien de traîneau</p>
								<% end %>
								<% if @adventure.is_horse_riding%>
								<p class="para-annonce">Voyage à cheval</p>
								<% end %>
								<% if @adventure.is_paragliding?%>
								<p class="para-annonce">Parapente</p>
								<% end %>
								
								<hr>
								
								
								<p class="activity-feature"><%= pluralize(@reviews.count, 'commentaires') %></p>
					                <div>
					                    <% if (user_signed_in?) %>
										<%= render 'reviews/form' if !@hasReview %>
										<!-- le formulaire apparait seulement si l’utilisateur a déjà reservé des dates sur ce logement et s’il n’a pas déjà note celui-ci… -->
										<% else %>
										<p style="font-style:italic"><br>Vous devez être connecté pour commenter l'aventure.</p>
										<%end%>
					                </div>
					                <div>
										<br>
					                    <%= render 'reviews/list' %>
					                </div>
									
												        <section id="carousel-annonce">
														<p class="activity-feature">Photos</p>
														<br>
														<div class="row">
													            <div class="col-md-10 col-md-offset-1">
													                <div id="myCarousel" class="carousel slide" data-ride="carousel">
													                  <!-- Indicators -->
													                    <% if @photos %>
													                        <% @photos.each do |photo| %>
													                          <ol class="carousel-indicators">
													                            <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
													                          </ol>
													                        <% end %>
													                    <% end %>
		                
													                  <!-- Wrapper for slides -->
													                  <div class="carousel-inner" role="listbox">
												                    <% if @photos %>
													                    <% @photos.each do |photo| %>
													                    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
													                      <%= image_tag photo.image.url() %>
													                    </div>
													                    <% end %>
													                    <% end %>
													                  </div>
		                
													                  <!-- Left and right controls -->
													                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
													                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
													                    <span class="sr-only">Précédent</span>
													                  </a>
													                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
													                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
													                    <span class="sr-only">Suivant</span>
													                  </a>
													                </div>
													            </div>
													        </div
        
									    </div>
									</section>
								
								
							</div>
			</div>
		

		
		
		
		
		</div>
</div>	

		<div class="col-md-3 text-center">
	   	     <ul class="sidebar-list">
	   	          <li class="sidebar-item">
	   	               Localisation
	   	          </li>
	   	     </ul>
	   	 <br>
			<div id="map"></div>   
				<style>
				#map {
				height: 400px;
				width: 100%;
				}
				</style>
	                
				<script>
				function initMap() {
				var uluru = {lat: <%= @adventure.latitude %>, lng: <%= @adventure.longitude %>};
				var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 10,
				center: uluru
				});
				var marker = new google.maps.Marker({
				position: uluru,
				map: map
				});
				}
				</script>
				<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu8mJT0DytqjUtgcD4Hp6X75Phpgqy8AM&callback=initMap">
				</script>
			</div>


<script>
 
      $('#average_rating').raty({
 
      path: '/assets',
 
      readOnly: true,
 
      score: <%= @adventure.average_rating %>
 
      });
 
 </script>
	  
<script>
 
	        $('#average_rating_header').raty({
 
	        path: '/assets',
 
	        readOnly: true,
 
	        score: <%= @adventure.average_rating %>
 
	        });
 
</script> 