<div class="panel panel-default">
    <div class="panel-body">
        
        <!-- Photo principale de l'annonce -->
        <div class="row">
            <div class="col-md-12">
                <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length >0 %>
            </div>
        </div>
        
        <br>
        
        <!-- Informations principales -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <%= image_tag avatar_url(@adventure.user), class:"img-circle avatar-large" %>
                        <br>
                        <br>
                        <%= @adventure.user.fullname %>
                    </div>
                    <div class="col-md-9">
                        <h4><%= @adventure.listing_name %></h4>
                        <%= @adventure.address %>
						<a href="#map", class="sidebar-link"><%= @adventure.address %></a> <a href="#average_rating", class="sidebar-link"><span id="average_rating_header"></span> <%= @reviews.count %></a> 
						
                        <div class="row text-center row-space-1">
                 
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-3">
                                <%= @adventure.main_activity %>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
				<hr>
			
				
				
				<!-- Formulaire de réservation -->
            </div>    
        	</div>
        
        <!-- Description -->
        <div class="row">
            <div class="col-md-12">
                <h2>A propos de cette aventure</h2>
                <p><%= @adventure.summary %></p>
            </div>
        </div>
        
        <!-- Activités -->
        <div class="row">
            <div class="col-md-2">
                <p>Activités</p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="equipments">
                            <li class="<%= 'text-line-through' if !@adventure.is_trekking %>">Randonnée/Treks</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_trail %>">Trail</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_alpinism %>">Alpinisme</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_climbing %>">Escalade</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="equipments">
                            <li class="<%= 'text-line-through' if !@adventure.is_cycling %>">Vélo</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_motorbike %>">Moto</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_sailing %>">Voile</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_camping %>">Camping</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="equipments">
                            <li class="<%= 'text-line-through' if !@adventure.is_fishing %>">Pêche</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_mountain_bike %>">VTT</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_kayaking %>">Kayak</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_diving %>">Plongée</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="equipments">
                            <li class="<%= 'text-line-through' if !@adventure.is_dog_sledding %>">Chien de traîneau</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_horse_riding %>">Voyage à cheval</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_paragliding %>">Parapente</li>
                            <li class="<%= 'text-line-through' if !@adventure.is_skiing %>">Ski</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		
						<!-- Reviews -->
		 
						 <div class="row">
		 
						      <div class="col-md-12">
		 
						            <h3>Commentaires <%= @adventure.average_rating %> (<%= @reviews.count %>)</h3>
									<h3><%= pluralize(@reviews.count, 'commentaire') %> <span id="average_rating"></span></h3>
									
		 
						            <div class="container">
		 
						                <div>
		 
						                    <%= render 'reviews/form' if @booked && !@hasReview %>
											<!-- le formulaire apparait seulement si l’utilisateur a déjà reservé des dates sur ce logement et s’il n’a pas déjà note celui-ci… -->
		 
						                </div>
		 
						                <div>
		 
						                    <%= render 'reviews/list' %>
		 
						                </div>
		 
						           </div>
		 
						        </div>
		 
						 </div>
		
		
		
		<!-- Google maps -->
						        <div class="row">
						            <div class="col-md-12">
						                <div id="map"></div>
	                
						                <style>
						                   #map {
						                    height: 400px;
						                    width: 100%;
						                   }
						                </style>
	                
						                <script>
						                  function initMap() {
						                    var uluru = {lat: <%= @adventure.latitude %>, lng: <%= @adventure.longitude %>};
						                    var map = new google.maps.Map(document.getElementById('map'), {
						                      zoom: 10,
						                      center: uluru
						                    });
						                    var marker = new google.maps.Marker({
						                      position: uluru,
						                      map: map
						                    });
						                  }
						                </script>
						                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu8mJT0DytqjUtgcD4Hp6X75Phpgqy8AM&callback=initMap">
						                </script>
						            </div>
						        </div>
		
				<!-- Carousel -->
			        <div class="row">
				            <div class="col-md-10 col-md-offset-1">
				                <div id="myCarousel" class="carousel slide" data-ride="carousel">
				                  <!-- Indicators -->
				                    <% if @photos %>
				                        <% @photos.each do |photo| %>
				                          <ol class="carousel-indicators">
				                            <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
				                          </ol>
				                        <% end %>
				                    <% end %>
		                
				                  <!-- Wrapper for slides -->
				                  <div class="carousel-inner" role="listbox">
			                    <% if @photos %>
				                    <% @photos.each do |photo| %>
				                    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
				                      <%= image_tag photo.image.url() %>
				                    </div>
				                    <% end %>
				                    <% end %>
				                  </div>
		                
				                  <!-- Left and right controls -->
				                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				                    <span class="sr-only">Précédent</span>
				                  </a>
				                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				                    <span class="sr-only">Suivant</span>
				                  </a>
				                </div>
				            </div>
				        </div
        
    </div>
	

							
							
</div>
</div>

<script>
 
      $('#average_rating').raty({
 
      path: '/assets',
 
      readOnly: true,
 
      score: <%= @adventure.average_rating %>
 
      });
 
 </script>
	  
<script>
 
	        $('#average_rating_header').raty({
 
	        path: '/assets',
 
	        readOnly: true,
 
	        score: <%= @adventure.average_rating %>
 
	        });
 
</script> 