<div class="panel panel-default">
    <div class="panel-body">
        
        <!-- Photo principale de l'annonce -->
        <div class="row">
            <div class="col-md-12">
                <%= image_tag @photos[0].image.url(), class:"img-responsive center-block" if @photos.length >0 %>
            </div>
        </div>
        
        <br>
        
        <!-- Informations principales -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <%= image_tag avatar_url(@adventure.user), class:"img-circle avatar-large" %>
               
                        <br>
                        <%= @adventure.user.fullname %>
						
						<br>
						<%= link_to "Voir le profil", @adventure.user %>
                    </div>
                    <div class="col-md-9">
                        <h2><%= @adventure.listing_name %></h2>
						<a href="#map", class="sidebar-link"><%= @adventure.address %></a>
						
                        <div class="row text-center row-space-1">
                 
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-3">
                                <%= @adventure.main_activity %>
                            </div>
                            
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-3">
                                <%= @adventure.level %>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
				<hr>
			
				
            </div>    
       	</div>
        
        <!-- Départ -->
        <div class="row">
            <div class="col-md-12">
                <h3>Départ</h3>
                <p>Date de départ :<%= @adventure.date_of_departure %></p>
				<p>Durée :<%= @adventure.duration %>jours</p>
            </div>
        </div>
		
		<!-- Description -->
        <div class="row">
            <div class="col-md-12">
                <h3>A propos de cette aventure</h3>
                <p><%= @adventure.summary %></p>
            </div>
        </div>
        
        <!-- Activités -->
        <div class="row">
            <div class="col-md-12">
                <h3>Activités secondaires</h3>          
            </div>
			
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3">
						<ul class="equipments">
						<% if @adventure.is_trekking?%>
						<li>Randonnée/Treks</li>
						<% end %>
						<% if @adventure.is_trail?%>
						<li>Trail</li>
						<% end %>
						<% if @adventure.is_alpinism?%>
						<li>Alpinisme</li>
						<% end %>
						<% if @adventure.is_climbing?%>
						<li>Escalade</li>
						<% end %>
						<% if @adventure.is_cycling%>
						<li>Vélo</li>
						<% end %>
						<% if @adventure.is_motorbike?%>
						<li>Moto</li>
						<% end %>
						<% if @adventure.is_sailing?%>
						<li>Voile</li>
						<% end %>
						<% if @adventure.is_camping?%>
						<li>Bivouac/Camping</li>
						<% end %>
						<% if @adventure.is_skiing?%>
						<li>Ski</li>
						<% end %>
						<% if @adventure.is_fishing?%>
						<li>Pêche</li>
						<% end %>
						
						<% if @adventure.is_mountain_bike?%>
						<li>VTT</li>
						<% end %>
						
						<% if @adventure.is_kayaking?%>
						<li>Kayak</li>
						<% end %>
						<% if @adventure.is_diving?%>
						<li>Plongée</li>
						<% end %>
						<% if @adventure.is_dog_sledding?%>
						<li>Chien de traîneau</li>
						<% end %>
						<% if @adventure.is_horse_riding%>
						<li>Voyage à cheval</li>
						<% end %>
						<% if @adventure.is_paragliding?%>
						<li>Parapente</li>
						<% end %>
					</ul>
					</div>
				</div>
			</div>
        </div>
		
						<!-- Reviews -->
		 
						 <div class="row">
		 
						      <div class="col-md-12">
		 
									<h3><%= pluralize(@reviews.count, 'commentaire') %></h3>
									
		 
						            <div class="container">
		 
						                <div>
		 
						                    <%= render 'reviews/form' if !@hasReview %>
											<!-- le formulaire apparait seulement si l’utilisateur a déjà reservé des dates sur ce logement et s’il n’a pas déjà note celui-ci… -->
		 
						                </div>
		 
						                <div>
		 
						                    <%= render 'reviews/list' %>
		 
						                </div>
		 
						           </div>
		 
						        </div>
		 
						 </div>
						 
					 </hr>
		
		
		
		<!-- Google maps -->
								<div class="row">
									<div class="col-md-10 center">
										<div id="map"></div>   
											<style>
											#map {
											height: 400px;
											width: 100%;
											}
											</style>
								                
											<script>
											function initMap() {
											var uluru = {lat: <%= @adventure.latitude %>, lng: <%= @adventure.longitude %>};
											var map = new google.maps.Map(document.getElementById('map'), {
											zoom: 10,
											center: uluru
											});
											var marker = new google.maps.Marker({
											position: uluru,
											map: map
											});
											}
											</script>
											<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu8mJT0DytqjUtgcD4Hp6X75Phpgqy8AM&callback=initMap">
											</script>
										</div>
								</div>
		
				<!-- Carousel -->
			        <div class="row">
				            <div class="col-md-10 col-md-offset-1">
				                <div id="myCarousel" class="carousel slide" data-ride="carousel">
				                  <!-- Indicators -->
				                    <% if @photos %>
				                        <% @photos.each do |photo| %>
				                          <ol class="carousel-indicators">
				                            <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
				                          </ol>
				                        <% end %>
				                    <% end %>
		                
				                  <!-- Wrapper for slides -->
				                  <div class="carousel-inner" role="listbox">
			                    <% if @photos %>
				                    <% @photos.each do |photo| %>
				                    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
				                      <%= image_tag photo.image.url() %>
				                    </div>
				                    <% end %>
				                    <% end %>
				                  </div>
		                
				                  <!-- Left and right controls -->
				                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				                    <span class="sr-only">Précédent</span>
				                  </a>
				                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				                    <span class="sr-only">Suivant</span>
				                  </a>
				                </div>
				            </div>
				        </div
        
    </div>
	

							
							
</div>
</div>

<script>
 
      $('#average_rating').raty({
 
      path: '/assets',
 
      readOnly: true,
 
      score: <%= @adventure.average_rating %>
 
      });
 
 </script>
	  
<script>
 
	        $('#average_rating_header').raty({
 
	        path: '/assets',
 
	        readOnly: true,
 
	        score: <%= @adventure.average_rating %>
 
	        });
 
</script> 