<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1 class="text-uppercase">
              <strong>ADVENTURER</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-12 mx-auto">
            <h2 class="text-faded mb-5">Trouvez des partenaires pour votre prochaine aventure.</h2>
            <hr>
			
<div class="big-btn">
<%= form_tag search_path, method: :get do %>
    <!-- FORME DE RECHERCHE 
		<div class="row">
        <div class="col-md-6">
            <%= text_field_tag :search, params[:search], placeholder: "Où? Destination, ville, addresse",
            class:"form-control" %>
        </div> -->
        
		<!-- RECHERCHE PAR DATE
		<div class="col-md-2">
            <%= text_field_tag :start_date, params[:start_date], placeholder:"Arrivée", class:"form-control" %>
        </div>
        <div class="col-md-2">
            <%= text_field_tag :end_date, params[:end_date], placeholder:"Départ", class:"form-control" %>
        </div> -->
        
		<div class="col-md-12">
            <%= submit_tag "Découvrir", class:"btn btn-info btn-lg"%>
			
        </div>
    </div>
<% end %>
</div>
          </div>
        </div>
      </div>
</header>


<section class="homepage-section" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Le site des aventuriers</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" id="services-row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Trouver des équipiers</h3>
              <p class="text-muted mb-0">Faites connaître votre prochaine aventure pour trouver des compagnons de route.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Chercher une aventure</h3>
              <p class="text-muted mb-0">Recherchez votre prochaine aventure parmi les annonces.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-lightbulb text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">S'inspirer</h3>
              <p class="text-muted mb-0">De l'inspiration pour dans toutes les disciplines pour votre projet.</p>
            </div>
          </div>
        </div>
      </div>
</section>


<section class="homepage-section" id="latest_adventures">
<div class="container">
<div class="row">
    <div class="ol-lg-12 text-center">
        <h2 class="section-heading">Dernières aventures</h2>
		<hr class="my-4">
    </div>
</div>
<div class="row">
    <% @adventures.each do |adventure| %>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading preview">
                    <%= image_tag adventure.photos[0].image.url(:medium) if adventure.photos.length > 0 %>
                </div>
                <div class="panel-body">
                    <p class="home-link"><b><%= link_to adventure.main_activity, adventure_path(adventure) %></b>
                    <br><%= link_to adventure.listing_name, adventure_path(adventure) %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>
</div>
</section>

</div>


<script>
    $(function() {
        $('#start_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    onSelect: function(selected) {
                        var newdate = new Date($("#start_date").datepicker("getDate"));
                        newdate.setDate(newdate.getDate() + 1);
                        $('#end_date').datepicker("option","minDate", newdate);
                    }
        });
        
        $('#end_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    onSelect: function(selected) {
                        $('#start_date').datepicker("option", "maxDate", selected);
                    }
        });
    })
</script>