<!-- DEBUT PAGE -->
<div class="content">
	<!-- DEBUT SECTION-1 -->
	<section class="section-1">
		<!-- DEBUT PARTIE IMAGE ET RECHERCHE -->
		<div class="main-part-section-1">
			<!-- DEBUT PARTIE IMAGE -->
			<div class="main-part-section-1-img">
				<div class="container">
	            <h1>La Bourse aux Aventures</h1>
	            <p>Trouvez des partenaires pour votre prochaine aventure</p>
	        	</div>
			</div>
			<!-- FIN PARTIE IMAGE -->
			<!-- DEBUT PARTIE RECHERCHE -->
			<div class="main-part-section-1-search">
			 <div class="col-md-12 title">
				 <h1>C’est parti !</h1>
				 <br>
				 <p>Nos utilisateurs n’attendent que vous pour partir à l’aventure, jettez un oeil aux dernières propositions.</p>
			 	</div>
				<div class="col-md-12">
             <%= search_form_for @search, url: search_path do |f| %>
                
                 <!-- Début ligne choix critères principaux-->
                 		<div class="row search-forms">
                     		<div class="col-md-3 col-sm-6 col-xs-12 search-forms-item">
                         		<div class="form-group">
                             		<label></label>
									
                             		<%= f.select :main_activity_eq,
									[["Randonnée/Trek","Randonnée/Trek"],
 									["Trail","Trail"],
                         		   ["Alpinisme","Alpinisme"],
                         		  ["Escalade","Escalade"],
                         		 ["Voyage à vélo","Voyage à vélo"],
 								 ["VTT","VTT"],
                         		["Moto","Moto"],
                         	   ["Voile","Voile"],
                         	  ["Ski","Ski"],
                         	 ["Kayak","Kayak"],
                         	["Chiens de traîneau","Chien de traîneau"],
                         	["Voyage à cheval","Voyage à cheval"]],
 						id: "main_activity", 
                         prompt: "Activité Principale", class: "form-control" %>
                         		</div>
                     		</div>
                          
				
 							<div class="col-md-3 col-sm-6 col-xs-12 search-forms-item">
 				   			 	<div class="form-group">
 				       			 <label></label>
								 
 				        <%= f.select :level_eq, [["Débutant","Débutant"],
 						["Intermédiaire","Intermédiaire"],
 				         ["Avancé","Avancé"],
 				          ["Expert","Expert"]],
 						id: "level", 
 				        prompt: "Difficulté", class: "form-control" %>
 				      			</div>
 							</div>
									
 				 		   	<div class="col-md-3 col-sm-6 col-xs-12 search-forms-item">
 			  				  <div class="form-group">
 				                 <label></label>
 				                            <%= f.select :countries_eq, [["Afghanistan","Afghanistan"],["Afrique du Sud","Afrique du Sud"],["Albanie","Albanie"],["Algérie","Algérie"],["Allemagne","Allemagne"],["Andorre","Andorre"],["Angola","Angola"],["Antigua-et-Barbuda","Antigua-et-Barbuda"],["Arabie Saoudite","Arabie Saoudite"],["Argentine","Argentine"],["Arménie","Arménie"],["Australie","Australie"],["Autriche","Autriche"],["Azerbaïdjan","Azerbaïdjan"],["Bahamas","Bahamas"],["Bahreïn","Bahreïn"],["Bangladesh","Bangladesh"],["Barbade","Barbade"],["Belgique","Belgique"],["Belize","Belize"],["Bénin","Bénin"],["Bhoutan","Bhoutan"],["Biélorussie","Biélorussie"],["Birmanie","Birmanie"],["Bolivie","Bolivie"],["Bosnie-Herzégovine","Bosnie-Herzégovine"],["Botswana","Botswana"],["Brésil","Brésil"],["Brunei","Brunei"],["Bulgarie","Bulgarie"],["Burkina Faso","Burkina Faso"],["Burundi","Burundi"],["Cambodge","Cambodge"],["Cameroun","Cameroun"],["Canada","Canada"],["Cap-Vert","Cap-Vert"],["Chili","Chili"],["Chine","Chine"],["Chypre","Chypre"],["Colombie","Colombie"],["Comores","Comores"],["Congo","Congo"],["Corée du Nord","Corée du Nord"],["Corée du Sud","Corée du Sud"],["Costa Rica","Costa Rica"],["Côte d'Ivoire","Côte d'Ivoire"],["Croatie","Croatie"],["Cuba","Cuba"],["Danemark","Danemark"],["Djibouti","Djibouti"],["Dominique","Dominique"],["Egypte","Egypte"],["Emirats Arabes Unis","Emirats Arabes Unis"],["Equateur","Equateur"],["Erythrée","Erythrée"],["Espagne","Espagne"],["Estonie","Estonie"],["Etats-Unis","Etats-Unis"],["Ethiopie","Ethiopie"],["Fidji","Fidji"],["Finlande","Finlande"],["France","France"],["Gabon","Gabon"],["Gambie","Gambie"],["Géorgie","Géorgie"],["Ghana","Ghana"],["Grèce","Grèce"],["Grenade","Grenade"],["Guatemala","Guatemala"],["Guinée","Guinée"],["Guinée équatoriale","Guinée équatoriale"],["Guinée-Bissau","Guinée-Bissau"],["Guyana","Guyana"],["Haïti","Haïti"],["Honduras","Honduras"],["Hongrie","Hongrie"],["Île Maurice","Île Maurice"],["Inde","Inde"],["Indonésie","Indonésie"],["Irak","Irak"],["Iran","Iran"],["Irlande","Irlande"],["Islande","Islande"],["Israël","Israël"],["Italie","Italie"],["Jamaïque","Jamaïque"],["Japon","Japon"],["Jordanie","Jordanie"],["Kazakhstan","Kazakhstan"],["Kenya","Kenya"],["Kirghizistan","Kirghizistan"],["Kiribati","Kiribati"],["Kosovo","Kosovo"],["Koweït","Koweït"],["Laos","Laos"],["Lesotho","Lesotho"],["Lettonie","Lettonie"],["Liban","Liban"],["Liberia","Liberia"],["Libye","Libye"],["Liechtenstein","Liechtenstein"],["Lituanie","Lituanie"],["Luxembourg","Luxembourg"],["Macédoine","Macédoine"],["Madagascar","Madagascar"],["Malaisie","Malaisie"],["Malawi","Malawi"],["Maldives","Maldives"],["Mali","Mali"],["Malte","Malte"],["Maroc","Maroc"],["Marshall","Marshall"],["Mauritanie","Mauritanie"],["Mexique","Mexique"],["Micronésie","Micronésie"],["Moldavie","Moldavie"],["Monaco","Monaco"],["Mongolie","Mongolie"],["Monténégro","Monténégro"],["Namibie","Namibie"],["Nauru","Nauru"],["Népal","Népal"],["Nicaragua","Nicaragua"],["Niger","Niger"],["Nigeria","Nigeria"],["Norvège","Norvège"],["Nouvelle-Zélande","Nouvelle-Zélande"],["Oman","Oman"],["Ouganda","Ouganda"],["Ouzbékistan","Ouzbékistan"],["Pakistan","Pakistan"],["Palaos","Palaos"],["Palestine","Palestine"],["Panama","Panama"],["Papouasie-Nouvelle-Guinée","Papouasie-Nouvelle-Guinée"],["Paraguay","Paraguay"],["Pays-Bas","Pays-Bas"],["Pérou","Pérou"],["Philippines","Philippines"],["Pologne","Pologne"],["Portugal","Portugal"],["Qatar","Qatar"],["République Centrafricaine","République Centrafricaine"],["République Démocratique du Congo","République Démocratique du Congo"],["République Dominicaine","République Dominicaine"],["République Tchèque","République Tchèque"],["Roumanie","Roumanie"],["Royaume-Uni","Royaume-Uni"],["Russie","Russie"],["Rwanda","Rwanda"],["Saint-Kitts-et-Nevis","Saint-Kitts-et-Nevis"],["Saint-Marin","Saint-Marin"],["Saint-Vincent-et-les-Grenadines","Saint-Vincent-et-les-Grenadines"],["Sainte-Lucie","Sainte-Lucie"],["Salomon","Salomon"],
 											["Salvador","Salvador"],
 						["Samoa","Samoa"],["São Tomé et Príncipe","São Tomé et Príncipe"],["Sénégal","Sénégal"],["Serbie","Serbie"],["Seychelles","Seychelles"],["Sierra Leone","Sierra Leone"],["Singapour","Singapour"],["Slovaquie","Slovaquie"],["Slovénie","Slovénie"],["Somalie","Somalie"],["Soudan","Soudan"],["Soudan du Sud","Soudan du Sud"],["Sri Lanka","Sri Lanka"],["Suède","Suède"],["Suisse","Suisse"],["Suriname","Suriname"],["Swaziland","Swaziland"],["Syrie","Syrie"],["Tadjikistan","Tadjikistan"],["Taïwan","Taïwan"],["Tanzanie","Tanzanie"],["Tchad","Tchad"],["Thaïlande","Thaïlande"],["Timor-Oriental","Timor-Oriental"],["Togo","Togo"],["Tonga","Tonga"],["Trinité-et-Tobago","Trinité-et-Tobago"],["Tunisie","Tunisie"],["Turkménistan","Turkménistan"],["Turquie","Turquie"],["Tuvalu","Tuvalu"],["Ukraine","Ukraine"],["Uruguay","Uruguay"],["Vanuatu","Vanuatu"],["Vatican","Vatican"],["Venezuela","Venezuela"],["Viêt Nam","Viêt Nam"],["Yémen","Yémen"],["Zambie","Zambie"],["Zimbabwe","Zimbabwe"]],
 											id: "countries", 
 				                            prompt: "Pays", class: "form-control" %>
 				                        </div>
 				                    </div>
									<div class="col-md-3 col-sm-6 col-xs-12 search-forms-item">
									         <%= f.submit "Rechercher", class:"btn btn-info btn-sm center-block" %>
									 </div>
									
                 </div>
 				<!-- Fin de la ligne séletion des critères principaux -->
				
 				<!-- Début ligne bouton réinitialisation -->
 				<div class="row">
                     <div class="text-center">
 						<%= link_to search_path do %>Réinitialiser
 						<%end%>
					</div>
 					</div>
 				</div>	                    
                
             <% end %>
			</div>
			<!-- FIN PARTIE RECHERCHE -->
		</div>
		<!-- FIN PARTIE IMAGE ET RECHERCHE -->
		<!-- DEBUT PARTIE AFFICHAGE RESULTATS -->
		<div class="container">
            <div class="row section-3-selection">
                <% if @arrAdventures.empty? %>
                    Aucune annonce ne correspond à votre recherche.
                <% else %>
                    
					<% @arrAdventures.each do |adventure| %>
                    <div class="col-lg-3 col-md-6 col-sm-12 box">
                        <a class="thumbnail panel-heading preview img-responsive">
						 <% if (adventure.photos.present?) %>
						                     <%= image_tag adventure.photos[0].image.url(:medium) if adventure.photos.length > 0 %>
						 <%else%>
						 <%= image_tag 'default_adventure_pic.jpeg' %>
						 <%end%>
                        </a>
                        <h3 class="adventure-name"><%= adventure.listing_name %> </h3>
                        <p><%= adventure.main_activity%>
					 	<br>
						<%= adventure.level%>
						<br>
						<%= adventure.duration %>&nbspjours
						<br>
						<%= adventure.address%>
						<br>
					 </p>
					 <br />
                        <a> <%= link_to "Découvrir", adventure_path(adventure), class:"btn btn-primary btn-sm"%></a>
				
                    </div>
					
                    <% end %>
					<div class="row section-3-selection-p">
					<p><%= paginate @adventures, window: 2 %></p>
				</div>
                <% end %>
				
            </div>
		</div>

		<!-- FIN PARTIE AFFICHAGE RESULTATS -->
	</section>
	<!-- FIN SECTION_1 -->
	<!-- DEBUT SECTION-2 -->
	<section class="section-2">
	  <div class="container">
		  <h1 class="section-title">le site des aventuriers</h1>
		  <br />
		  <hr>
	  	<div class="row">
	          <!-- Boxes de Acoes -->
	      	<div class="col-xs-12 col-sm-6 col-lg-4">
	  			<div class="box">							
	  				<div class="icon">
	  					<div class="image"><i class="fas fa-users"></i></div>
	  					<div class="info">
	  						<h3 class="title">Trouvez des équipiers</h3>
	  						<p>
								Faites connaître votre prochaine aventure pour trouver des compagnons de route.
	  						</p>
	  					</div>
	  				</div>
	  				<div class="space"></div>
	  			</div> 
	  		</div>
	
	          <div class="col-xs-12 col-sm-6 col-lg-4">
	  			<div class="box">							
	  				<div class="icon">
	  					<div class="image"><i class="fas fa-search"></i></div>
	  					<div class="info">
	  						<h3 class="title">Cherchez une aventure</h3>
	      					<p>
								Recherchez votre prochaine aventure parmi les annonces.
	  						</p>
	  					</div>
	  				</div>
	  				<div class="space"></div>
	  			</div> 
	  		</div>
	
	          <div class="col-xs-12 col-sm-6 col-lg-4">
	  			<div class="box">							
	  				<div class="icon">
	  					<div class="image"><i class="far fa-lightbulb"></i></div>
	  					<div class="info">
	  						<h3 class="title">Inspirez-vous</h3>
	      					<p>
	  							Des idées de parcours et de projets dans toutes les disciplines, pour tous les niveaux.</p>
	  					</div>
	  				</div>
	  				<div class="space"></div>
	  			</div> 
	  		</div>		    
	  		<!-- /Boxes de Acoes -->
	  	</div>
	  </div>
	</section>
	<!-- FIN SECTION-2 -->
	<!-- DEBUT SECTION-3 -->
	<!-- <section class="section-3">
		 <div class="container">
			 <div class="row section-3-title">
				 <div class="col-md-9">
					 <h1>Nos dernières propositions d’aventures</h1>
					 <br>
					 <p>Nos utilisateurs n’attendent que vous pour partir à l’aventure, jettez un oeil aux dernières propositions.</p>
				 </div>
				 <div class="col-md-3">
					 <button type="button" class="btn btn-warning">Voir plus</button>
				 </div>
			 </div>

		                 <div class="row section-3-selection">
							 <% Adventure.last(4).each do |p| %>
		                     <div class="col-lg-3 col-md-6 col-sm-12 box">
		                         <a class="thumbnail panel-heading preview img-responsive">
									 <% if (p.photos.present?) %>
									                     <%= image_tag p.photos[0].image.url(:medium) if p.photos.length > 0 %>
									 <%else%>
									 <%= image_tag 'default_adventure_pic.jpeg' %>
									 <%end%>
		                         </a>
		                         <h3 class="adventure-name"><%= p.listing_name %> </h3>
		                         <p><%= p.main_activity%>
								 	<br>
									<%= p.level%>
									<br>
									<%= p.duration %>&nbspjours
									<br>
									<%= p.address%>
									<br>
								 </p>
								 <br />
		                         <a> <%= link_to "Découvrir", adventure_path(p), class:"btn btn-primary btn-sm"%></a>
							
		                     </div>
		                     
							 
							 <%end%>
		                 
						 </div>
		 

	</section>
	<!-- FIN SECTION-3 -->
	<!-- DEBUT SECTION-4 -->
	<section class="section-4">
	</section>
	<!-- FIN SECTION-4 -->
	<!-- DEBUT SECTION-5 -->
	<section class="section-5">
		<div class="container">
						  <div class="row">
						  <h1 class="section-title">ils nous soutiennent</h1>
						  <br />
						  <hr>
					  	<div class="row">
					          <!-- Boxes de Acoes -->
					      	<div class="col-xs-12 col-sm-6 col-lg-4">
					  			<div class="box">							
					  				<div class="icon">
					  					<%= image_tag 'imago.jpeg', class:"image" %>
					  					<div class="info">
					  						<h3 class="title">IMAGO</h3>
					  						<p>
												Imago, l'incubateur d'aventures, accompagne les néo-aventuriers pour faire éclore leurs projets d’explorations sportives, écologiques et solidaires.</p>
					  					</div>
					  				</div>
					  				<div class="space"></div>
					  			</div> 
					  		</div>
			
					          <div class="col-xs-12 col-sm-6 col-lg-4">
					  			<div class="box">							
					  				<div class="icon">
					  					<%= image_tag 'chilowe.png', class:"image" %>
					  					<div class="info">
					  						<h3 class="title">CHILOWE</h3>
					      					<p>
												Chilowé, une newsletter, des évènements et une série de guides, qui répertorient les meilleures idées de microaventures à vivre autour de chez soi.</p>
					  					</div>
					  				</div>
					  				<div class="space"></div>
					  			</div> 
					  		</div>
			
					          <div class="col-xs-12 col-sm-6 col-lg-4">
					  			<div class="box">							
					  				<div class="icon">
					  					<%= image_tag 'explora.png', class:"image" %>
					  					<div class="info">
					  						<h3 class="title">EXPLORA PROJECT</h3>
					      					<p>Explora Project est une agence de voyage d’aventure spécialisée dans les expéditions extrêmes sans guide («Self-Guided Extreme Expeditions»).</p>
					  					</div>
					  				</div>
					  				<div class="space"></div>
					  			</div> 
					  		</div>		    
					  		<!-- /Boxes de Acoes -->
					  	</div>
					</div>
				</div>
	</section>
	<!-- FIN SECTION-5 -->
</div>
<!-- FIN PAGE -->

<script>
    $(function() {
        $('#start_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    onSelect: function(selected) {
                        var newdate = new Date($("#start_date").datepicker("getDate"));
                        newdate.setDate(newdate.getDate() + 1);
                        $('#end_date').datepicker("option","minDate", newdate);
                    }
        })
        
        $('#end_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    onSelect: function(selected) {
                        $('#start_date').datepicker("option", "maxDate", selected);
                    }
        });
    })
</script>
	
		
<script>
	 
		 $(document).ready(function(){
	 
		           $("#sidebar").stick_in_parent({offset_top: 20});
	 
		 });
	 
</script>