<!-- AFFICHAGE SUR GOOGLE MAPS
<div id="wrapper">
    <div id="sidebar">
		
		<div id="widget">
		                <script>
		                  function initMap() {
		                    <% if @arrAdventures.length > 0 %>
		                        var uluru = {lat: <%= @arrAdventures[0].latitude %>, lng: <%= @arrAdventures[0].longitude %>};
		                        var map = new google.maps.Map(document.getElementById('widget'), {
		                          zoom: 13,
		                          center: uluru
		                        });
		                    <% else %>
		                        var uluru = {lat: 48.866667, lng: 2.333333};
		                        var map = new google.maps.Map(document.getElementById('widget'), {
		                          zoom: 4,
		                          center: uluru
		                        });
		                    <% end %>
                    
		                    <% @arrAdventures.each do |adventure| %>
		                    var marker = new google.maps.Marker({
		                      position: {lat: <%= adventure.latitude %>, lng: <%= adventure.longitude %>},
		                      map: map,
		                      title: "<%= adventure.listing_name %>"
		                    });
		                    <% end %>
		                  }
		                </script>
		                <script async defer
		                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu8mJT0DytqjUtgcD4Hp6X75Phpgqy8AM&callback=initMap">
		                </script>
		        </div>
    </div> -->

<div class="panel panel-default">
    <div class="panel-heading">
		<div class="container">
        Rechercher une aventure
	</div>
</div>
</div>




<div class="container">
<section id="search-params-section">
        <div class="row">
            <div class="col-md-12">
                <%= search_form_for @search, url: search_path do |f| %>
                    
                    
                    <div class="row">
                        <div class="col-md-3 select">
                            <div class="form-group">
                                <label>Activité principale</label>
                                <%= f.select :main_activity_eq, [["Randonnée/Trek","Randonnée/Trek"],
							["Trail","Trail"],
                            ["Alpinisme","Alpinisme"],
                            ["Escalade","Escalade"],
                            ["Voyage à vélo","Voyage à vélo"],
							["VTT","VTT"],
                            ["Moto","Moto"],
                            ["Voile","Voile"],
                            ["Ski","Ski"],
                            ["Kayak","Kayak"],
                            ["Chiens de traîneau","Chien de traîneau"],
                            ["Voyage à cheval","Voyage à cheval"]],
							id: "main_activity", 
                            prompt: "A sélectionner...", class: "form-control" %>
                            </div>
                        </div>
                        
                        <div class="col-md-3 select">
                            <div class="form-group">
                                <label>Nombre d'équipiers</label>
                               <%= f.select :number_of_teammates_eq, [["1 équipier",1], ["2 équipiers",2],
                               ["3 équipiers", 3], ["4 équipiers",4], ["5 équipiers",5], ["6 équipiers",6]], 
                               prompt: "A sélectionner...", class: "form-control" %>
                            </div>
                        </div>      
					
					<div class="col-md-3 select">
					   <div class="form-group">
					       <label>Niveau de difficulté</label>
					        <%= f.select :level_eq, [["Débutant","Débutant"],
							["Intermédiaire","Intermédiaire"],
					         ["Avancé","Avancé"],
					          ["Expert","Expert"]],
							id: "level", 
					        prompt: "A sélectionner...", class: "form-control" %>
					      </div>
				</div>
										
					 <div class="col-md-3 select">
				  <div class="form-group">
					                            <label>Pays</label>
					                            <%= f.select :countries_eq, [["Afghanistan","Afghanistan"],["Afrique du Sud","Afrique du Sud"],["Albanie","Albanie"],["Algérie","Algérie"],["Allemagne","Allemagne"],["Andorre","Andorre"],["Angola","Angola"],["Antigua-et-Barbuda","Antigua-et-Barbuda"],["Arabie Saoudite","Arabie Saoudite"],["Argentine","Argentine"],["Arménie","Arménie"],["Australie","Australie"],["Autriche","Autriche"],["Azerbaïdjan","Azerbaïdjan"],["Bahamas","Bahamas"],["Bahreïn","Bahreïn"],["Bangladesh","Bangladesh"],["Barbade","Barbade"],["Belgique","Belgique"],["Belize","Belize"],["Bénin","Bénin"],["Bhoutan","Bhoutan"],["Biélorussie","Biélorussie"],["Birmanie","Birmanie"],["Bolivie","Bolivie"],["Bosnie-Herzégovine","Bosnie-Herzégovine"],["Botswana","Botswana"],["Brésil","Brésil"],["Brunei","Brunei"],["Bulgarie","Bulgarie"],["Burkina Faso","Burkina Faso"],["Burundi","Burundi"],["Cambodge","Cambodge"],["Cameroun","Cameroun"],["Canada","Canada"],["Cap-Vert","Cap-Vert"],["Chili","Chili"],["Chine","Chine"],["Chypre","Chypre"],["Colombie","Colombie"],["Comores","Comores"],["Congo","Congo"],["Corée du Nord","Corée du Nord"],["Corée du Sud","Corée du Sud"],["Costa Rica","Costa Rica"],["Côte d'Ivoire","Côte d'Ivoire"],["Croatie","Croatie"],["Cuba","Cuba"],["Danemark","Danemark"],["Djibouti","Djibouti"],["Dominique","Dominique"],["Egypte","Egypte"],["Emirats Arabes Unis","Emirats Arabes Unis"],["Equateur","Equateur"],["Erythrée","Erythrée"],["Espagne","Espagne"],["Estonie","Estonie"],["Etats-Unis","Etats-Unis"],["Ethiopie","Ethiopie"],["Fidji","Fidji"],["Finlande","Finlande"],["France","France"],["Gabon","Gabon"],["Gambie","Gambie"],["Géorgie","Géorgie"],["Ghana","Ghana"],["Grèce","Grèce"],["Grenade","Grenade"],["Guatemala","Guatemala"],["Guinée","Guinée"],["Guinée équatoriale","Guinée équatoriale"],["Guinée-Bissau","Guinée-Bissau"],["Guyana","Guyana"],["Haïti","Haïti"],["Honduras","Honduras"],["Hongrie","Hongrie"],["Île Maurice","Île Maurice"],["Inde","Inde"],["Indonésie","Indonésie"],["Irak","Irak"],["Iran","Iran"],["Irlande","Irlande"],["Islande","Islande"],["Israël","Israël"],["Italie","Italie"],["Jamaïque","Jamaïque"],["Japon","Japon"],["Jordanie","Jordanie"],["Kazakhstan","Kazakhstan"],["Kenya","Kenya"],["Kirghizistan","Kirghizistan"],["Kiribati","Kiribati"],["Kosovo","Kosovo"],["Koweït","Koweït"],["Laos","Laos"],["Lesotho","Lesotho"],["Lettonie","Lettonie"],["Liban","Liban"],["Liberia","Liberia"],["Libye","Libye"],["Liechtenstein","Liechtenstein"],["Lituanie","Lituanie"],["Luxembourg","Luxembourg"],["Macédoine","Macédoine"],["Madagascar","Madagascar"],["Malaisie","Malaisie"],["Malawi","Malawi"],["Maldives","Maldives"],["Mali","Mali"],["Malte","Malte"],["Maroc","Maroc"],["Marshall","Marshall"],["Mauritanie","Mauritanie"],["Mexique","Mexique"],["Micronésie","Micronésie"],["Moldavie","Moldavie"],["Monaco","Monaco"],["Mongolie","Mongolie"],["Monténégro","Monténégro"],["Namibie","Namibie"],["Nauru","Nauru"],["Népal","Népal"],["Nicaragua","Nicaragua"],["Niger","Niger"],["Nigeria","Nigeria"],["Norvège","Norvège"],["Nouvelle-Zélande","Nouvelle-Zélande"],["Oman","Oman"],["Ouganda","Ouganda"],["Ouzbékistan","Ouzbékistan"],["Pakistan","Pakistan"],["Palaos","Palaos"],["Palestine","Palestine"],["Panama","Panama"],["Papouasie-Nouvelle-Guinée","Papouasie-Nouvelle-Guinée"],["Paraguay","Paraguay"],["Pays-Bas","Pays-Bas"],["Pérou","Pérou"],["Philippines","Philippines"],["Pologne","Pologne"],["Portugal","Portugal"],["Qatar","Qatar"],["République Centrafricaine","République Centrafricaine"],["République Démocratique du Congo","République Démocratique du Congo"],["République Dominicaine","République Dominicaine"],["République Tchèque","République Tchèque"],["Roumanie","Roumanie"],["Royaume-Uni","Royaume-Uni"],["Russie","Russie"],["Rwanda","Rwanda"],["Saint-Kitts-et-Nevis","Saint-Kitts-et-Nevis"],["Saint-Marin","Saint-Marin"],["Saint-Vincent-et-les-Grenadines","Saint-Vincent-et-les-Grenadines"],["Sainte-Lucie","Sainte-Lucie"],["Salomon","Salomon"],
												["Salvador","Salvador"],
							["Samoa","Samoa"],["São Tomé et Príncipe","São Tomé et Príncipe"],["Sénégal","Sénégal"],["Serbie","Serbie"],["Seychelles","Seychelles"],["Sierra Leone","Sierra Leone"],["Singapour","Singapour"],["Slovaquie","Slovaquie"],["Slovénie","Slovénie"],["Somalie","Somalie"],["Soudan","Soudan"],["Soudan du Sud","Soudan du Sud"],["Sri Lanka","Sri Lanka"],["Suède","Suède"],["Suisse","Suisse"],["Suriname","Suriname"],["Swaziland","Swaziland"],["Syrie","Syrie"],["Tadjikistan","Tadjikistan"],["Taïwan","Taïwan"],["Tanzanie","Tanzanie"],["Tchad","Tchad"],["Thaïlande","Thaïlande"],["Timor-Oriental","Timor-Oriental"],["Togo","Togo"],["Tonga","Tonga"],["Trinité-et-Tobago","Trinité-et-Tobago"],["Tunisie","Tunisie"],["Turkménistan","Turkménistan"],["Turquie","Turquie"],["Tuvalu","Tuvalu"],["Ukraine","Ukraine"],["Uruguay","Uruguay"],["Vanuatu","Vanuatu"],["Vatican","Vatican"],["Venezuela","Venezuela"],["Viêt Nam","Viêt Nam"],["Yémen","Yémen"],["Zambie","Zambie"],["Zimbabwe","Zimbabwe"]],
												id: "countries", 
					                            prompt: "Pays/Pays de départ", class: "form-control" %>
					                        </div>
					                    </div>
                    </div>
                    <hr>
					<div class=row>
						<div class="col-md-3">
                    <label>Activités secondaires</label>
				</div>
					</div>
					
					<div class="row">
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_trekking_eq]", true %> Treks/Rando
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_trail_eq]", true %> Trail
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_alpinism_eq]", true %> Alpinisme
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_climbing_eq]", true %> Escalade
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_cycling_eq]", true %> Vélo
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_motorbike_eq]", true %> Moto
                        </div>
                        <div class="col-md-3"id="check-box">
                            <%= check_box_tag "q[is_sailing_eq]", true %> Voile
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_camping_eq]", true %> Camping
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_skiing_eq]", true %> Ski
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_fishing_eq]", true %> Pêche
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_mountain_bike_eq]", true %> VTT
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_kayaking_eq]", true %> Kayak
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_diving_eq]", true %> Plongée
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_dog_sledding_eq]", true %> Chien de traîneau
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_horse_riding_eq]", true %> Equitation
                        </div>
                        <div class="col-md-3" id="check-box">
                            <%= check_box_tag "q[is_paragliding_eq]", true %> Parapente
                        </div>
                    </div>
                    
                    <br>
                    <br>
					
                    
                    <div class="row">
                        <%= f.submit "Rechercher", class:"btn btn-info btn-lg center-block" %>
						</div>
						<br>
					<div class="row">
                        <div class="text-center">
							<%= link_to search_path do %>Réinitialiser
							<%end%>
						</div>
						</div>	                    
                    
                <% end %>
                
                <hr>
        </section>    
                
                
                <div class="row">
                    <% if @arrAdventures.empty? %>
                        Aucune annonce ne correspond à votre recherche.
                    <% else %>
					<%= paginate @adventures %>
                        <% @arrAdventures.each do |adventure| %>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading preview img-responsive">
									<% if (adventure.photos.present?) %>
                                    <%= image_tag adventure.photos[0].image.url(:medium) if adventure.photos.length > 0 %>
									<%else%>
									<%= image_tag 'default_adventure_pic.jpeg' %>
									<%end%>
                                </div>
                                <div class="panel-body search-pics">
                                    <%= image_tag avatar_url(adventure.user), class:"img-circle avatar-small" %>
                                    <%= link_to adventure.listing_name, adventure %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                </div>
                
            </div>
        </div>
    </div>
</div>


<script>
    $(function() {
        $('#start_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    onSelect: function(selected) {
                        var newdate = new Date($("#start_date").datepicker("getDate"));
                        newdate.setDate(newdate.getDate() + 1);
                        $('#end_date').datepicker("option","minDate", newdate);
                    }
        })
        
        $('#end_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    onSelect: function(selected) {
                        $('#start_date').datepicker("option", "maxDate", selected);
                    }
        });
    })
</script>
	
		
<script>
	 
		 $(document).ready(function(){
	 
		           $("#sidebar").stick_in_parent({offset_top: 20});
	 
		 });
	 
</script>