    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="assets/theme_css/bootstrap.min.css" >
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="assets/theme_fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="assets/theme_css/slicknav.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="assets/theme_css/nivo-lightbox.css" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="assets/theme_css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="assets/theme_css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="assets/theme_css/responsive.css">
   
   
    <!-- Header Area wrapper Starts -->
	<div class="row">
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="home.html.erb" class="navbar-brand"><img src="/assets/logo_adventure_80.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
			  <li class="nav-item nav-link">
			   	<%= link_to new_adventure_path do %>
			   	<i class="fas fa-plus"></i> Proposez une aventure
			   	<% end %> 
			  </li>
			  <li class="nav-item nav-link">
			   	<%= link_to conversations_path do %>
			   	Messages
			   	<% end %> 
			  </li>
          	
			<% if (!user_signed_in?) %>
              <li class="nav-item nav-link">
				  <%= link_to 'Inscription', new_user_registration_path %>
			  </li>
              <li class="nav-item nav-link">
				  <%= link_to 'Connexion', new_user_session_path %>
			  </li>
            	<% else %>
            		<li class="dropdown nav-item nav-link">
              	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">
			  		<%= image_tag avatar_url(current_user), class:"img-circle avatar-small"%>
                	<%= current_user.fullname %>
              	  	<span class="caret"></span></a>
              	  			<ul class="dropdown-menu">
                				<li nav-item nav-link> <%= link_to "Mes aventures", adventures_path %></li>
               				 	<li nav-item nav-link> <%= link_to 'Modifier mon profil', edit_user_registration_path %></li>
            					<li role="separator" class="divider"></li>
                				<li nav-item nav-link> <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
             				 </ul>
           			  </li>
            	<% end %>
            </ul>
          </div>
        </div>

      <!-- Mobile Menu 
      <ul class="mobile-menu">
        <li>
          <a class="page-scrool" href="#header-wrap">Home</a>
        </li>
        <li>
          <a class="page-scrool" href="#about">About</a>
        </li>
        <li>
           <a class="page-scroll" href="#schedules">schedules</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">Speakers</a>
        </li>
        <li>
          <a class="page-scroll" href="#gallery">Gallery</a>
        </li>
        <li>
          <a class="page-scroll" href="#faq">Faq</a>
        </li>
        <li>
          <a class="page-scroll" href="#sponsors">Sponsors</a>
        </li>
        <li>
          <a class="page-scroll" href="#pricing">pricing</a>
        </li>
        <li>
          <a class="page-scroll" href="#google-map-area">Contact</a>
        </li>
      </ul>
       -->
</nav>
</header>
</div>
<!-- Navbar End -->


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/theme_js/jquery-min.js"></script>
    <script src="assets/theme_js/popper.min.js"></script>
    <script src="assets/theme_js/bootstrap.min.js"></script>
    <script src="assets/theme_js/jquery.countdown.min.js"></script>
    <script src="assets/theme_js/jquery.nav.js"></script>
    <script src="assets/theme_js/jquery.easing.min.js"></script>
    <script src="assets/theme_js/wow.js"></script>
    <script src="assets/theme_js/jquery.slicknav.js"></script>
    <script src="assets/theme_js/nivo-lightbox.js"></script>
    <script src="assets/theme_js/main.js"></script>
    <script src="assets/theme_js/form-validator.min.js"></script>
    <script src="assets/theme_js/contact-form-script.min.js"></script>
    <script src="assets/theme_js/map.js"></script>
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>

