<!DOCTYPE html>
<html>
  <head>
    <title>Bourse aux Aventures</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	
	<%= favicon_link_tag "logo_adventure_80" %>
  </head>

  <body>

	  	<%= render '/layouts/navigation' %>
		
		<div class= "main">
		<%= render 'shared/message' %>
 
   <div><%= yield %></div>
</div>
   <%= render '/layouts/footer' %>

  </body>
</html>