<!DOCTYPE html>
<html>
  <head>
    <title>La Bourse aux Aventuriers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<%= favicon_link_tag 'logo_adventure_80.png' %>
  </head>

  <body>
<%= render '/layouts/navigation' %>
<%= render 'shared/message' %>
	  
 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
	   
    <%= yield %>
  </body>
</html>
